#header img {
	width: 88px;
}
#header .text-platzi {
	color: #97c93e !important;
	font-weight: 600;
}
#header .text-platzi:hover {
	color: #a1de38 !important;
}

#main .carousel-container {
	position: relative;
}
#main .carousel-container img{
	max-height: 520px;
	object-fit: cover;
	filter: grayscale(60%);
}
#main .carousel-container .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0, 0.5);
	color: white;
	z-index: 1;
}
#main .btn-platzi, .btn-platzi {
	background-color: #97c93e;
}
#main .btn-platzi:hover, .btn-platzi:hover {
	background-color: #89b839;
	transition: .4s;
}
#main .btn-platzi:not(:hover), .btn-platzi:not(:hover) {
	transition: .4;
}

#footer {
	background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5472);
}
#footer a {
	text-decoration: none;
}